

.chat-page {
    width: 100%;
    height: 100rm;
    display: flex;
    overflow: hidden;
    background: #f9fafb;
    font-family: Arial, sans-serif;
    /* border: 5px solid red; */
}



.chat-container {
   flex: 1;
   min-height: 0;
   min-width: 0;

   overflow: hidden;

   display: flex;
   flex-direction: column;
}



.empty-chat {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    font-size: 20px;
    font-weight: 500;
    background: #f9fafb;
    text-align: center;
    padding: 20px;
}



@media (max-width: 992px) {

    .chat-page {
        flex-direction: row;
    }

    .chat-container {
        flex: 1;
    }
}


#backBtn {
    display: none;
}
@media (max-width: 768px) {

    #backBtn {
        display: block;
        background: transparent;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        margin-right: 10px;
    }
    .chat-page {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    .chat-container {
       
    
        flex: 1;
        height: 100vh;

        display: flex;
        flex-direction: column;

        overflow: hidden;
        background: #ffffff;
    }

    .empty-chat {
        font-size: 16px;
        padding: 30px 20px;
    }
}




@media (max-width: 480px) {

    .chat-container {
        height: calc(100vh - 350px);
    }

    .empty-chat {
        font-size: 15px;
    }
}